// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Tue Sep 23 16:50:18 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/debouncer.sv"
// file 1 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/decoder.sv"
// file 2 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/keyscan.sv"
// file 3 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/keyscanner.sv"
// file 4 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/multiplex.sv"
// file 5 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/sevensegdisplay.sv"
// file 6 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/slowclock.sv"
// file 7 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/synchronizer.sv"
// file 8 "c:/users/ccoggshall/desktop/e155lab3/lab3_cc/source/impl_1/top.sv"
// file 9 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 10 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 26 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 27 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 28 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 29 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 40 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 41 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 42 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 43 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 57 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 58 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 59 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 60 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]row, output [6:0]seg, output [1:0]enable, 
            output [3:0]col, output [3:0]led);
    
    wire reset_c;
    wire led_c_3_c;
    wire led_c_2_c;
    wire led_c_1_c;
    wire led_c_0_c;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire enable_c_1;
    wire enable_c_1_N_84;
    (* is_clock=1, lineinfo="@8(29[10],29[19])" *) wire hsosc_clk;
    wire [3:0]oldpress;
    wire [3:0]newpress;
    wire [3:0]s;
    wire col_c_7;
    wire col_c_6;
    wire col_c_5;
    wire col_c_4;
    wire [7:0]currentpress;
    wire rowpressed;
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    wire GND_net;
    wire [3:0]state_adj_111;
    
    wire VCC_net, enable_c_1_N_83, n849;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(hsosc_clk));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lineinfo="@8(9[24],9[27])" *) IB led_c_0_pad (.I(row[0]), .O(led_c_0_c));
    (* lineinfo="@8(9[24],9[27])" *) IB led_c_1_pad (.I(row[1]), .O(led_c_1_c));
    (* lineinfo="@8(9[24],9[27])" *) IB led_c_2_pad (.I(row[2]), .O(led_c_2_c));
    (* lineinfo="@8(9[24],9[27])" *) IB led_c_3_pad (.I(row[3]), .O(led_c_3_c));
    (* lineinfo="@8(8[25],8[30])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@8(13[24],13[27])" *) OB \led_pad[0]  (.I(led_c_0_c), .O(led[0]));
    (* lineinfo="@8(13[24],13[27])" *) OB \led_pad[1]  (.I(led_c_1_c), .O(led[1]));
    (* lineinfo="@8(13[24],13[27])" *) OB \led_pad[2]  (.I(led_c_2_c), .O(led[2]));
    (* lineinfo="@8(13[24],13[27])" *) OB \led_pad[3]  (.I(led_c_3_c), .O(led[3]));
    (* lineinfo="@8(12[24],12[27])" *) OB \col_pad[0]  (.I(col_c_4), .O(col[0]));
    (* lineinfo="@8(12[24],12[27])" *) OB \col_pad[1]  (.I(col_c_5), .O(col[1]));
    (* lineinfo="@8(12[24],12[27])" *) OB \col_pad[2]  (.I(col_c_6), .O(col[2]));
    (* lineinfo="@8(12[24],12[27])" *) OB \col_pad[3]  (.I(col_c_7), .O(col[3]));
    (* lineinfo="@8(11[27],11[33])" *) OB \enable_pad[0]  (.I(enable_c_1_N_84), 
            .O(enable[0]));
    (* lineinfo="@8(11[27],11[33])" *) OB \enable_pad[1]  (.I(enable_c_1), 
            .O(enable[1]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=20, LSE_RCOL=31, LSE_LLINE=64, LSE_RLINE=64, lineinfo="@8(64[20],64[31])" *) sevensegdisplay ssd ({s}, 
            seg_c_2, seg_c_0, seg_c_4, seg_c_5, seg_c_6, seg_c_3, 
            seg_c_1);
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@8(10[28],10[31])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=60, LSE_LLINE=61, LSE_RLINE=61, lineinfo="@8(61[12],61[60])" *) multiplex mp ({newpress}, 
            {oldpress}, enable_c_1, {s}, reset_c, enable_c_1_N_83, 
            enable_c_1_N_84, clk);
    VLO i1 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@8(52[16],52[71])" *) keyscanner ks (clk, 
            enable_c_1_N_83, led_c_2_c, led_c_3_c, currentpress[2], 
            led_c_1_c, currentpress[1], led_c_0_c, currentpress[0], 
            currentpress[3], col_c_7, col_c_5, rowpressed, col_c_4, 
            col_c_6);
    (* lut_function="(!(A (B)+!A !((C)+!B)))" *) LUT4 i2607_3_lut (.A(state_adj_111[0]), 
            .B(reset_c), .C(state_adj_111[1]), .Z(n849));
    defparam i2607_3_lut.INIT = "0x7373";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=53, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@8(55[14],55[53])" *) debouncer db (reset_c, 
            state_adj_111[1], state_adj_111[0], clk, enable_c_1_N_83, 
            rowpressed);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=37, LSE_LLINE=43, LSE_RLINE=43, lineinfo="@8(43[12],43[37])" *) slowclock sc (clk, 
            hsosc_clk);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@8(58[12],58[73])" *) decoder dc (col_c_6, 
            col_c_7, col_c_4, col_c_5, currentpress[2], currentpress[3], 
            currentpress[0], currentpress[1], {newpress}, n849, {oldpress}, 
            clk, enable_c_1_N_83);
    
endmodule

//
// Verilog Description of module sevensegdisplay
//

module sevensegdisplay (input [3:0]s, output seg_c_2, output seg_c_0, 
            output seg_c_4, output seg_c_5, output seg_c_6, output seg_c_3, 
            output seg_c_1);
    
    
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@5(14[3],35[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[1]), .D(s[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@5(14[3],35[10])" *) LUT4 s_3__I_0_4_lut (.A(s[2]), 
            .B(s[1]), .C(s[3]), .D(s[0]), .Z(seg_c_0));
    defparam s_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(!(A ((D)+!C)+!A (B (D)+!B !(C))))", lineinfo="@5(14[3],35[10])" *) LUT4 seg_c_4_I_0_4_lut_4_lut (.A(s[1]), 
            .B(s[2]), .C(s[0]), .D(s[3]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut_4_lut.INIT = "0x10f4";
    (* lut_function="(!(A (B (D)+!B (C+(D)))+!A !(B (C (D)+!C !(D)))))", lineinfo="@5(14[3],35[10])" *) LUT4 seg_c_5_I_0_4_lut_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[2]), .D(s[3]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut_4_lut.INIT = "0x408e";
    (* lut_function="(!(A (((D)+!C)+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@5(14[3],35[10])" *) LUT4 seg_c_6_I_0_4_lut_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[2]), .D(s[3]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut_4_lut.INIT = "0x1085";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))", lineinfo="@5(14[3],35[10])" *) LUT4 n3199_bdd_4_lut_4_lut_4_lut (.A(s[0]), 
            .B(s[1]), .C(s[3]), .D(s[2]), .Z(seg_c_3));
    defparam n3199_bdd_4_lut_4_lut_4_lut.INIT = "0x8962";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@5(14[3],35[10])" *) LUT4 seg_c_1_I_0_4_lut_4_lut (.A(s[0]), 
            .B(s[1]), .C(s[2]), .D(s[3]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut_4_lut.INIT = "0xd860";
    
endmodule

//
// Verilog Description of module multiplex
//

module multiplex (input [3:0]newpress, input [3:0]oldpress, output enable_c_1, 
            output [3:0]s, input reset_c, output enable_c_1_N_83, output enable_c_1_N_84, 
            input clk);
    
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    
    wire VCC_net;
    
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(24[15],24[42])" *) LUT4 newpress_1__I_0_3_lut (.A(newpress[1]), 
            .B(oldpress[1]), .C(enable_c_1), .Z(s[1]));
    defparam newpress_1__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(24[15],24[42])" *) LUT4 newpress_0__I_0_3_lut (.A(newpress[0]), 
            .B(oldpress[0]), .C(enable_c_1), .Z(s[0]));
    defparam newpress_0__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(24[15],24[42])" *) LUT4 newpress_3__I_0_3_lut (.A(newpress[3]), 
            .B(oldpress[3]), .C(enable_c_1), .Z(s[3]));
    defparam newpress_3__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(24[15],24[42])" *) LUT4 newpress_2__I_0_3_lut (.A(newpress[2]), 
            .B(oldpress[2]), .C(enable_c_1), .Z(s[2]));
    defparam newpress_2__I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A))", lineinfo="@3(27[7],27[13])" *) LUT4 i5_1_lut (.A(reset_c), 
            .Z(enable_c_1_N_83));
    defparam i5_1_lut.INIT = "0x5555";
    VHI i1 (.Z(VCC_net));
    (* lut_function="(!(A))", lineinfo="@4(21[19],21[30])" *) LUT4 i1691_1_lut (.A(enable_c_1), 
            .Z(enable_c_1_N_84));
    defparam i1691_1_lut.INIT = "0x5555";
    (* lineinfo="@4(21[19],21[30])" *) FD1P3XZ counter_261__i1 (.D(enable_c_1_N_84), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(enable_c_1));
    defparam counter_261__i1.REGSET = "RESET";
    defparam counter_261__i1.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module keyscanner
//

module keyscanner (input clk, input enable_c_1_N_83, input led_c_2_c, 
            input led_c_3_c, output \currentpress[2] , input led_c_1_c, 
            output \currentpress[1] , input led_c_0_c, output \currentpress[0] , 
            output \currentpress[3] , output col_c_7, output col_c_5, 
            output rowpressed, output col_c_4, output col_c_6);
    
    wire [5:0]state;
    wire [5:0]nextstate;
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    
    wire n15, n6, n1441, n2741, n1248, n7, n43, n1255, n20, 
        n3205, n56, n2922, n3208, n658, n2865, n22, n2874, rowpressed_N_93, 
        n7_adj_107, n1423, n2988;
    wire [2:0]n100;
    
    wire n122, n7_adj_108, n2883, n2882, n2891, n72, n2879, n2877, 
        n1261, n87, n2899, n2895, n84, n2886, n78, n2875, n2898, 
        n93, n74, n390, n90, n6_adj_109, n2858, n59, n73, n2861, 
        n2864, n61, n98, n2870, n1274, n44, n4, n27, n33, 
        n801, nextstate_4__N_22, n414, n2578, n2705, n2739, n18, 
        n2568, n2917, n6_adj_110, n2572;
    wire [1:0]n56_2;
    
    wire n2717, VCC_net;
    
    (* lut_function="(A (B+!(C+(D)))+!A ((D)+!B))" *) LUT4 i22_4_lut (.A(state[2]), 
            .B(state[3]), .C(state[0]), .D(state[1]), .Z(n15));
    defparam i22_4_lut.INIT = "0xdd9b";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(26[12],29[5])" *) FD1P3XZ state__i5 (.D(nextstate[4]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(state[4]));
    defparam state__i5.REGSET = "RESET";
    defparam state__i5.SRMODE = "CE_OVER_LSR";
    (* lut_function="((B)+!A)", lineinfo="@3(46[16],46[30])" *) LUT4 equal_9_i6_2_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .Z(n6));
    defparam equal_9_i6_2_lut.INIT = "0xdddd";
    (* lut_function="(A (B (C)+!B (D))+!A (C))" *) LUT4 i11_3_lut_4_lut (.A(n1441), 
            .B(n2741), .C(led_c_2_c), .D(\currentpress[2] ), .Z(\currentpress[2] ));
    defparam i11_3_lut_4_lut.INIT = "0xf2d0";
    (* lut_function="(A (B (C)+!B (D))+!A (C))" *) LUT4 i11_3_lut_4_lut_adj_9 (.A(n1441), 
            .B(n2741), .C(led_c_1_c), .D(\currentpress[1] ), .Z(\currentpress[1] ));
    defparam i11_3_lut_4_lut_adj_9.INIT = "0xf2d0";
    (* lut_function="(A+(B))" *) LUT4 i1002_2_lut (.A(state[3]), .B(state[2]), 
            .Z(n1248));
    defparam i1002_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C)+!B (D))+!A (C))" *) LUT4 i11_3_lut_4_lut_adj_10 (.A(n1441), 
            .B(n2741), .C(led_c_0_c), .D(\currentpress[0] ), .Z(\currentpress[0] ));
    defparam i11_3_lut_4_lut_adj_10.INIT = "0xf2d0";
    (* lut_function="(!((B)+!A))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_2_lut (.A(state[3]), 
            .B(n7), .Z(n43));
    defparam i1_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C)+!B (D))+!A (C))" *) LUT4 i11_3_lut_4_lut_adj_11 (.A(n1441), 
            .B(n2741), .C(led_c_3_c), .D(\currentpress[3] ), .Z(\currentpress[3] ));
    defparam i11_3_lut_4_lut_adj_11.INIT = "0xf2d0";
    (* lut_function="(!(A (B ((D)+!C)+!B !(D))+!A !(B (C+(D))+!B (D))))" *) LUT4 \state[4]_bdd_4_lut_4_lut  (.A(n1255), 
            .B(state[1]), .C(n20), .D(state[4]), .Z(n3205));
    defparam \state[4]_bdd_4_lut_4_lut .INIT = "0x77c0";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n3205_bdd_4_lut (.A(n3205), 
            .B(n56), .C(n2922), .D(state[1]), .Z(n3208));
    defparam n3205_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2484_2_lut_3_lut (.A(n7), 
            .B(n658), .C(state[1]), .Z(n2865));
    defparam i2484_2_lut_3_lut.INIT = "0x0808";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C))+!A !(C)))" *) LUT4 i2489_3_lut_4_lut (.A(n7), 
            .B(n658), .C(state[2]), .D(n22), .Z(n2874));
    defparam i2489_3_lut_4_lut.INIT = "0x70f0";
    (* lut_function="(A+(B))", lineinfo="@3(47[16],47[30])" *) LUT4 equal_10_i5_2_lut (.A(led_c_0_c), 
            .B(led_c_1_c), .Z(rowpressed_N_93));
    defparam equal_10_i5_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i1167_2_lut (.A(n7), .B(n7_adj_107), 
            .Z(n1423));
    defparam i1167_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i2536_2_lut (.A(led_c_3_c), 
            .B(led_c_2_c), .Z(n2988));
    defparam i2536_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@3(42[3],162[9])" *) LUT4 i120_4_lut (.A(n7), 
            .B(n100[0]), .C(state[1]), .D(state[0]), .Z(n122));
    defparam i120_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B)+!A (B (C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i2526_3_lut (.A(n7_adj_108), 
            .B(state[1]), .C(state[0]), .Z(n2883));
    defparam i2526_3_lut.INIT = "0xc8c8";
    (* lut_function="(!(A+((C)+!B)))", lineinfo="@3(42[3],162[9])" *) LUT4 i2480_3_lut (.A(state[1]), 
            .B(n100[0]), .C(state[0]), .Z(n2882));
    defparam i2480_3_lut.INIT = "0x0404";
    (* lut_function="(A (B (C+(D))+!B !(C (D)+!C !(D)))+!A (B (C)+!B !((D)+!C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i135_4_lut (.A(n7), 
            .B(n2891), .C(state[1]), .D(state[2]), .Z(n72));
    defparam i135_4_lut.INIT = "0xcaf0";
    (* lut_function="(A (B (C))+!A (B (C+(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2481_4_lut (.A(n7), 
            .B(state[0]), .C(n20), .D(state[1]), .Z(n2879));
    defparam i2481_4_lut.INIT = "0xc4c0";
    (* lut_function="(A (B)+!A (B+(C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i2474_3_lut (.A(n7_adj_108), 
            .B(n122), .C(state[0]), .Z(n2877));
    defparam i2474_3_lut.INIT = "0xdcdc";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i132_4_lut (.A(n1261), 
            .B(n72), .C(state[0]), .D(state[2]), .Z(n87));
    defparam i132_4_lut.INIT = "0xcac0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(C+(D)))+!A (B (C (D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i131_4_lut (.A(n2899), 
            .B(n2895), .C(state[2]), .D(state[0]), .Z(n84));
    defparam i131_4_lut.INIT = "0xc00a";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A !(B (D)+!B ((D)+!C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i2487_4_lut (.A(n1423), 
            .B(state[2]), .C(state[3]), .D(n7_adj_108), .Z(n2886));
    defparam i2487_4_lut.INIT = "0xa0fc";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))", lineinfo="@3(42[3],162[9])" *) LUT4 i136_4_lut (.A(n2886), 
            .B(state[2]), .C(state[0]), .D(n7), .Z(n78));
    defparam i136_4_lut.INIT = "0x0a3a";
    (* lut_function="(A+(B (C+!(D))+!B (C (D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2515_4_lut (.A(n2879), 
            .B(n2882), .C(n2883), .D(state[2]), .Z(n2875));
    defparam i2515_4_lut.INIT = "0xfaee";
    (* lut_function="(!(A (B)+!A !((D)+!C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i2499_4_lut_4_lut (.A(state[1]), 
            .B(n7_adj_107), .C(n2988), .D(n2898), .Z(n2895));
    defparam i2499_4_lut_4_lut.INIT = "0x7727";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i134_3_lut (.A(n84), 
            .B(n87), .C(state[3]), .Z(n93));
    defparam i134_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@3(42[3],162[9])" *) LUT4 i115_4_lut (.A(n2875), 
            .B(n2877), .C(state[3]), .D(state[2]), .Z(n74));
    defparam i115_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))", lineinfo="@3(42[3],162[9])" *) LUT4 nextstate_0__I_0_4_lut (.A(state[0]), 
            .B(state[4]), .C(n3208), .D(n74), .Z(nextstate[0]));
    defparam nextstate_0__I_0_4_lut.INIT = "0xb3a0";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))", lineinfo="@3(42[3],162[9])" *) LUT4 i133_4_lut (.A(n78), 
            .B(n390), .C(state[4]), .D(n1248), .Z(n90));
    defparam i133_4_lut.INIT = "0x0a3a";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))", lineinfo="@3(42[3],162[9])" *) LUT4 nextstate_1__I_0_4_lut (.A(state[1]), 
            .B(state[4]), .C(n90), .D(n93), .Z(nextstate[1]));
    defparam nextstate_1__I_0_4_lut.INIT = "0xb3a0";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@3(44[11],44[25])" *) LUT4 equal_7_i7_3_lut_4_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .C(led_c_1_c), .D(led_c_0_c), .Z(n7_adj_108));
    defparam equal_7_i7_3_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(A+(B+(C (D)+!C !(D))))", lineinfo="@3(44[11],44[25])" *) LUT4 i1165_3_lut_4_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .C(led_c_0_c), .D(led_c_1_c), .Z(n658));
    defparam i1165_3_lut_4_lut.INIT = "0xfeef";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@3(44[11],44[25])" *) LUT4 equal_8_i7_3_lut_4_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .C(led_c_1_c), .D(led_c_0_c), .Z(n7_adj_107));
    defparam equal_8_i7_3_lut_4_lut.INIT = "0xffef";
    (* lut_function="(A+(B (C+!(D))+!B (C (D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i428_4_lut (.A(rowpressed_N_93), 
            .B(n6), .C(n6_adj_109), .D(state[0]), .Z(n390));
    defparam i428_4_lut.INIT = "0xfaee";
    (* lut_function="(A+(B))" *) LUT4 i1015_2_lut (.A(state[1]), .B(n7_adj_107), 
            .Z(n1261));
    defparam i1015_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))", lineinfo="@3(42[3],162[9])" *) LUT4 i2523_2_lut (.A(n7_adj_108), 
            .B(state[1]), .Z(n2858));
    defparam i2523_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(B (C (D))+!B (C+!(D)))))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_4_lut (.A(state[0]), 
            .B(n2858), .C(n1261), .D(state[2]), .Z(n59));
    defparam i1_4_lut.INIT = "0x0544";
    (* lut_function="(A (B+!((D)+!C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_4_lut_adj_12 (.A(state[2]), 
            .B(state[1]), .C(state[0]), .D(n658), .Z(n73));
    defparam i1_4_lut_adj_12.INIT = "0x88a8";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(26[12],29[5])" *) FD1P3XZ state__i4 (.D(nextstate[3]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(state[3]));
    defparam state__i4.REGSET = "RESET";
    defparam state__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C+(D)))+!A (B))", lineinfo="@3(42[3],162[9])" *) LUT4 i2485_4_lut (.A(n390), 
            .B(n59), .C(state[2]), .D(state[1]), .Z(n2861));
    defparam i2485_4_lut.INIT = "0xccce";
    (* lut_function="(!(A (B+(C (D)))+!A (B+(C+!(D)))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2521_4_lut (.A(n2865), 
            .B(state[0]), .C(n22), .D(state[2]), .Z(n2864));
    defparam i2521_4_lut.INIT = "0x0322";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(26[12],29[5])" *) FD1P3XZ state__i3 (.D(nextstate[2]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(state[2]));
    defparam state__i3.REGSET = "RESET";
    defparam state__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C+!(D))+!B (C (D)+!C !(D)))+!A (B+((D)+!C))))", lineinfo="@3(42[3],162[9])" *) LUT4 i97_4_lut (.A(n43), 
            .B(n22), .C(state[1]), .D(state[0]), .Z(n61));
    defparam i97_4_lut.INIT = "0x0a30";
    (* lut_function="(A (B+!(C))+!A (B (C+(D))+!B !(C+!(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i98_4_lut (.A(n2864), 
            .B(n2861), .C(state[3]), .D(n73), .Z(n98));
    defparam i98_4_lut.INIT = "0xcfca";
    (* lut_function="(!(A (B+!(C+(D)))+!A (B+!(C))))", lineinfo="@3(42[3],162[9])" *) LUT4 nextstate_2__I_0_4_lut (.A(state[2]), 
            .B(state[4]), .C(n98), .D(n61), .Z(nextstate[2]));
    defparam nextstate_2__I_0_4_lut.INIT = "0x3230";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(26[12],29[5])" *) FD1P3XZ state__i2 (.D(nextstate[1]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(state[1]));
    defparam state__i2.REGSET = "RESET";
    defparam state__i2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    (* lut_function="(!(A (B (C))+!A (B (C+!(D))+!B !(C+(D)))))", lineinfo="@3(42[3],162[9])" *) LUT4 i48_4_lut (.A(n2870), 
            .B(n1274), .C(state[1]), .D(state[2]), .Z(n44));
    defparam i48_4_lut.INIT = "0x3f3a";
    (* lut_function="(!(A+!(B)))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_2_lut_adj_13 (.A(state[1]), 
            .B(n658), .Z(n4));
    defparam i1_2_lut_adj_13.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+!(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_4_lut_adj_14 (.A(state[3]), 
            .B(state[0]), .C(n44), .D(n7), .Z(n27));
    defparam i1_4_lut_adj_14.INIT = "0xa0a2";
    (* lut_function="(!(A (B+!(C+(D)))+!A (B+!(C))))", lineinfo="@3(42[3],162[9])" *) LUT4 nextstate_3__I_0_4_lut (.A(n1274), 
            .B(state[4]), .C(n27), .D(n4), .Z(nextstate[3]));
    defparam nextstate_3__I_0_4_lut.INIT = "0x3230";
    (* lut_function="(A+!(B))", lineinfo="@3(47[16],47[30])" *) LUT4 equal_10_i6_2_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .Z(n6_adj_109));
    defparam equal_10_i6_2_lut.INIT = "0xbbbb";
    (* lut_function="(!(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C))))", lineinfo="@3(42[3],162[9])" *) LUT4 i51_4_lut (.A(n2874), 
            .B(n1255), .C(state[4]), .D(state[3]), .Z(n33));
    defparam i51_4_lut.INIT = "0x3a30";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i48_4_lut_adj_15 (.A(n801), 
            .B(n33), .C(state[1]), .D(n7_adj_107), .Z(nextstate_4__N_22));
    defparam i48_4_lut_adj_15.INIT = "0xc0ca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@3(42[3],162[9])" *) LUT4 i50_3_lut (.A(n7_adj_108), 
            .B(n7), .C(state[1]), .Z(n414));
    defparam i50_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B (C))+!A (B (C+(D))+!B !(C+!(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 state_0__I_0_4_lut (.A(n414), 
            .B(nextstate_4__N_22), .C(state[0]), .D(n801), .Z(nextstate[4]));
    defparam state_0__I_0_4_lut.INIT = "0xc5c0";
    (* lut_function="(A (B))" *) LUT4 i1028_2_lut (.A(state[2]), .B(state[0]), 
            .Z(n1274));
    defparam i1028_2_lut.INIT = "0x8888";
    (* lut_function="(!((B)+!A))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_2_lut_adj_16 (.A(state[4]), 
            .B(state[2]), .Z(n2578));
    defparam i1_2_lut_adj_16.INIT = "0x2222";
    (* lut_function="(A+(B))" *) LUT4 i2284_2_lut (.A(state[1]), .B(state[0]), 
            .Z(n2705));
    defparam i2284_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2318_4_lut (.A(state[3]), 
            .B(n2705), .C(state[4]), .D(state[2]), .Z(n2739));
    defparam i2318_4_lut.INIT = "0xfefa";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_17 (.A(state[4]), .B(n15), 
            .Z(n1441));
    defparam i1_2_lut_adj_17.INIT = "0xeeee";
    (* lut_function="(!(A (B (C))+!A !(C)))" *) LUT4 i29_3_lut (.A(state[1]), 
            .B(state[0]), .C(state[2]), .Z(n18));
    defparam i29_3_lut.INIT = "0x7a7a";
    (* lut_function="(!(A+!(B (C))))" *) LUT4 i1_3_lut (.A(state[4]), .B(state[3]), 
            .C(n18), .Z(n2568));
    defparam i1_3_lut.INIT = "0x4040";
    (* lut_function="(!(A+!(B)))" *) LUT4 i2527_2_lut (.A(state[4]), .B(state[1]), 
            .Z(n2917));
    defparam i2527_2_lut.INIT = "0x4444";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))" *) LUT4 i14_4_lut (.A(n2578), 
            .B(n2917), .C(state[3]), .D(n1274), .Z(n6_adj_110));
    defparam i14_4_lut.INIT = "0xca0a";
    (* lut_function="(A (B+!(C+!(D)))+!A (B))", lineinfo="@3(166[2],289[5])" *) LUT4 i1_4_lut_adj_18 (.A(col_c_7), 
            .B(n6_adj_110), .C(n2568), .D(n2572), .Z(col_c_7));
    defparam i1_4_lut_adj_18.INIT = "0xcecc";
    (* lut_function="(!(A (B (D)+!B (C (D)))+!A (B+(C))))", lineinfo="@3(166[2],289[5])" *) LUT4 i1_3_lut_4_lut (.A(col_c_5), 
            .B(state[4]), .C(n15), .D(n2741), .Z(col_c_5));
    defparam i1_3_lut_4_lut.INIT = "0x03ab";
    (* lut_function="((B+(C))+!A)" *) LUT4 i2320_2_lut_3_lut (.A(n2739), .B(n2568), 
            .C(n6_adj_110), .Z(n2741));
    defparam i2320_2_lut_3_lut.INIT = "0xfdfd";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@3(166[2],289[5])" *) LUT4 i1_2_lut_3_lut (.A(state[4]), 
            .B(n15), .C(n2739), .Z(n2572));
    defparam i1_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@3(47[16],47[30])" *) LUT4 equal_10_i7_2_lut_4_lut (.A(led_c_0_c), 
            .B(led_c_1_c), .C(led_c_2_c), .D(led_c_3_c), .Z(n22));
    defparam equal_10_i7_2_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1009_2_lut_4_lut (.A(rowpressed_N_93), 
            .B(n6_adj_109), .C(state[3]), .D(state[2]), .Z(n1255));
    defparam i1009_2_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+((C)+!B)))", lineinfo="@3(42[3],162[9])" *) LUT4 i1_2_lut_3_lut_adj_19 (.A(state[3]), 
            .B(state[4]), .C(state[2]), .Z(n801));
    defparam i1_2_lut_3_lut_adj_19.INIT = "0x0404";
    (* lut_function="(A ((C)+!B)+!A !(B ((D)+!C)))", lineinfo="@3(103[7],108[30])" *) LUT4 i999_4_lut (.A(n22), 
            .B(n7_adj_108), .C(n7_adj_107), .D(n7), .Z(n100[0]));
    defparam i999_4_lut.INIT = "0xb3f3";
    (* lut_function="(!(A+!(B)))", lineinfo="@3(75[12],78[30])" *) LUT4 i995_2_lut (.A(n22), 
            .B(n7), .Z(n56_2[0]));
    defparam i995_2_lut.INIT = "0x4444";
    (* lut_function="(A (B (C+!(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2_4_lut (.A(n7_adj_108), 
            .B(state[2]), .C(n56_2[0]), .D(n7_adj_107), .Z(n20));
    defparam i2_4_lut.INIT = "0x8088";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2492_2_lut_3_lut (.A(rowpressed_N_93), 
            .B(n6_adj_109), .C(state[0]), .Z(n2870));
    defparam i2492_2_lut_3_lut.INIT = "0x1010";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(44[11],44[25])" *) LUT4 rowpressed_I_0_2_lut_3_lut_4_lut (.A(led_c_2_c), 
            .B(led_c_3_c), .C(led_c_0_c), .D(led_c_1_c), .Z(rowpressed));
    defparam rowpressed_I_0_2_lut_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B)+!A (B (C+!(D))+!B !(D))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2518_4_lut_4_lut_4_lut (.A(state[1]), 
            .B(n7_adj_107), .C(n7), .D(n7_adj_108), .Z(n2899));
    defparam i2518_4_lut_4_lut_4_lut.INIT = "0x3722";
    (* lut_function="(!(A+(B+!(C (D)))))", lineinfo="@3(42[3],162[9])" *) LUT4 i2503_3_lut_4_lut (.A(led_c_0_c), 
            .B(led_c_1_c), .C(n658), .D(n2988), .Z(n2891));
    defparam i2503_3_lut_4_lut.INIT = "0x1000";
    (* lut_function="((B+(C))+!A)", lineinfo="@3(42[3],162[9])" *) LUT4 i2478_2_lut_3_lut (.A(n658), 
            .B(led_c_0_c), .C(led_c_1_c), .Z(n2898));
    defparam i2478_2_lut_3_lut.INIT = "0xfdfd";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i1059_2_lut_3_lut (.A(n7_adj_107), 
            .B(state[3]), .C(state[2]), .Z(n56));
    defparam i1059_2_lut_3_lut.INIT = "0x0101";
    (* lut_function="(!(A ((C)+!B)+!A (B (C (D))+!B (D))))" *) LUT4 i2507_3_lut_4_lut (.A(state[2]), 
            .B(state[3]), .C(n7), .D(n7_adj_108), .Z(n2922));
    defparam i2507_3_lut_4_lut.INIT = "0x0c5d";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@3(46[16],46[30])" *) LUT4 equal_9_i7_2_lut_4_lut (.A(led_c_0_c), 
            .B(led_c_1_c), .C(led_c_2_c), .D(led_c_3_c), .Z(n7));
    defparam equal_9_i7_2_lut_4_lut.INIT = "0xffef";
    (* lut_function="(A+(B))" *) LUT4 i2296_2_lut (.A(n2568), .B(n6_adj_110), 
            .Z(n2717));
    defparam i2296_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B)+!A !((C (D))+!B)))", lineinfo="@3(166[2],289[5])" *) LUT4 i1_4_lut_adj_20 (.A(n2717), 
            .B(n2739), .C(col_c_4), .D(n1441), .Z(col_c_4));
    defparam i1_4_lut_adj_20.INIT = "0x7333";
    (* lut_function="(A (B+!((D)+!C))+!A (B))", lineinfo="@3(166[2],289[5])" *) LUT4 i1_4_lut_adj_21 (.A(n2572), 
            .B(n2568), .C(col_c_6), .D(n6_adj_110), .Z(col_c_6));
    defparam i1_4_lut_adj_21.INIT = "0xccec";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=16, LSE_RCOL=71, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(26[12],29[5])" *) FD1P3XZ state__i1 (.D(nextstate[0]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(state[0]));
    defparam state__i1.REGSET = "RESET";
    defparam state__i1.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module debouncer
//

module debouncer (input reset_c, output \state[1] , output \state[0] , 
            input clk, input enable_c_1_N_83, input rowpressed);
    
    wire [3:0]nextstate;
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    wire [24:0]debouncecounter;
    
    wire n842, n1976, n3473, GND_net, n24, n23, n1978;
    wire [24:0]n105;
    
    wire n3476, n1980, n26, n36, n34, n40, n38, n3479, n1982, 
        n25, n39, n37, n2, n1998, n3506, n3482, n1984, n1996, 
        n3503, n3485, n1986, n1988, n3491, n1990, n1994, n3500, 
        n3488, n3470, VCC_net, n1992, n3497, n3494;
    
    (* lut_function="((B+!(C))+!A)" *) LUT4 i2604_3_lut (.A(reset_c), .B(\state[1] ), 
            .C(\state[0] ), .Z(n842));
    defparam i2604_3_lut.INIT = "0xdfdf";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i1 (.D(n105[0]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(n25));
    defparam debouncecounter_260__i1.REGSET = "RESET";
    defparam debouncecounter_260__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n24), .D0(n1976), .CI0(n1976), .A1(GND_net), 
            .B1(GND_net), .C1(n23), .D1(n3473), .CI1(n3473), .CO0(n3473), 
            .CO1(n1978), .S0(n105[1]), .S1(n105[2]));
    defparam debouncecounter_260_add_4_3.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[3]), .D0(n1978), .CI0(n1978), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[4]), .D1(n3476), 
            .CI1(n3476), .CO0(n3476), .CO1(n1980), .S0(n105[3]), .S1(n105[4]));
    defparam debouncecounter_260_add_4_5.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i4_2_lut (.A(debouncecounter[7]), .B(debouncecounter[14]), 
            .Z(n26));
    defparam i4_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i14_4_lut (.A(debouncecounter[21]), 
            .B(debouncecounter[23]), .C(debouncecounter[5]), .D(debouncecounter[12]), 
            .Z(n36));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut (.A(debouncecounter[8]), 
            .B(debouncecounter[22]), .C(debouncecounter[9]), .D(debouncecounter[19]), 
            .Z(n34));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i18_4_lut (.A(debouncecounter[13]), 
            .B(n36), .C(n26), .D(debouncecounter[4]), .Z(n40));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i16_4_lut (.A(debouncecounter[15]), 
            .B(debouncecounter[18]), .C(debouncecounter[3]), .D(debouncecounter[16]), 
            .Z(n38));
    defparam i16_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[5]), .D0(n1980), .CI0(n1980), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[6]), .D1(n3479), 
            .CI1(n3479), .CO0(n3479), .CO1(n1982), .S0(n105[5]), .S1(n105[6]));
    defparam debouncecounter_260_add_4_7.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i25 (.D(n105[24]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[24]));
    defparam debouncecounter_260__i25.REGSET = "RESET";
    defparam debouncecounter_260__i25.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i17_3_lut (.A(debouncecounter[10]), 
            .B(n34), .C(debouncecounter[17]), .Z(n39));
    defparam i17_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i15_4_lut (.A(debouncecounter[20]), 
            .B(debouncecounter[11]), .C(debouncecounter[24]), .D(debouncecounter[6]), 
            .Z(n37));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i21_4_lut (.A(n37), .B(n39), 
            .C(n38), .D(n40), .Z(n2));
    defparam i21_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C)+!B !((D)+!C))+!A (B+(C)))", lineinfo="@0(40[3],58[9])" *) LUT4 nextstate_0__I_0_4_lut (.A(\state[0] ), 
            .B(\state[1] ), .C(rowpressed), .D(n2), .Z(nextstate[0]));
    defparam nextstate_0__I_0_4_lut.INIT = "0xd4f4";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[23]), .D0(n1998), .CI0(n1998), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[24]), .D1(n3506), 
            .CI1(n3506), .CO0(n3506), .S0(n105[23]), .S1(n105[24]));
    defparam debouncecounter_260_add_4_25.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[7]), .D0(n1982), .CI0(n1982), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[8]), .D1(n3482), 
            .CI1(n3482), .CO0(n3482), .CO1(n1984), .S0(n105[7]), .S1(n105[8]));
    defparam debouncecounter_260_add_4_9.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i24 (.D(n105[23]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[23]));
    defparam debouncecounter_260__i24.REGSET = "RESET";
    defparam debouncecounter_260__i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[21]), .D0(n1996), .CI0(n1996), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[22]), .D1(n3503), 
            .CI1(n3503), .CO0(n3503), .CO1(n1998), .S0(n105[21]), .S1(n105[22]));
    defparam debouncecounter_260_add_4_23.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_23.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i23 (.D(n105[22]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[22]));
    defparam debouncecounter_260__i23.REGSET = "RESET";
    defparam debouncecounter_260__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[9]), .D0(n1984), .CI0(n1984), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[10]), .D1(n3485), 
            .CI1(n3485), .CO0(n3485), .CO1(n1986), .S0(n105[9]), .S1(n105[10]));
    defparam debouncecounter_260_add_4_11.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i22 (.D(n105[21]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[21]));
    defparam debouncecounter_260__i22.REGSET = "RESET";
    defparam debouncecounter_260__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i21 (.D(n105[20]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[20]));
    defparam debouncecounter_260__i21.REGSET = "RESET";
    defparam debouncecounter_260__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i20 (.D(n105[19]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[19]));
    defparam debouncecounter_260__i20.REGSET = "RESET";
    defparam debouncecounter_260__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i19 (.D(n105[18]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[18]));
    defparam debouncecounter_260__i19.REGSET = "RESET";
    defparam debouncecounter_260__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i18 (.D(n105[17]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[17]));
    defparam debouncecounter_260__i18.REGSET = "RESET";
    defparam debouncecounter_260__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i17 (.D(n105[16]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[16]));
    defparam debouncecounter_260__i17.REGSET = "RESET";
    defparam debouncecounter_260__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i16 (.D(n105[15]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[15]));
    defparam debouncecounter_260__i16.REGSET = "RESET";
    defparam debouncecounter_260__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i15 (.D(n105[14]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[14]));
    defparam debouncecounter_260__i15.REGSET = "RESET";
    defparam debouncecounter_260__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i14 (.D(n105[13]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[13]));
    defparam debouncecounter_260__i14.REGSET = "RESET";
    defparam debouncecounter_260__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i13 (.D(n105[12]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[12]));
    defparam debouncecounter_260__i13.REGSET = "RESET";
    defparam debouncecounter_260__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i12 (.D(n105[11]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[11]));
    defparam debouncecounter_260__i12.REGSET = "RESET";
    defparam debouncecounter_260__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i11 (.D(n105[10]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[10]));
    defparam debouncecounter_260__i11.REGSET = "RESET";
    defparam debouncecounter_260__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i10 (.D(n105[9]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[9]));
    defparam debouncecounter_260__i10.REGSET = "RESET";
    defparam debouncecounter_260__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i9 (.D(n105[8]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[8]));
    defparam debouncecounter_260__i9.REGSET = "RESET";
    defparam debouncecounter_260__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i8 (.D(n105[7]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[7]));
    defparam debouncecounter_260__i8.REGSET = "RESET";
    defparam debouncecounter_260__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i7 (.D(n105[6]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[6]));
    defparam debouncecounter_260__i7.REGSET = "RESET";
    defparam debouncecounter_260__i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[13]), .D0(n1988), .CI0(n1988), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[14]), .D1(n3491), 
            .CI1(n3491), .CO0(n3491), .CO1(n1990), .S0(n105[13]), .S1(n105[14]));
    defparam debouncecounter_260_add_4_15.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i6 (.D(n105[5]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[5]));
    defparam debouncecounter_260__i6.REGSET = "RESET";
    defparam debouncecounter_260__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i5 (.D(n105[4]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[4]));
    defparam debouncecounter_260__i5.REGSET = "RESET";
    defparam debouncecounter_260__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i4 (.D(n105[3]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(debouncecounter[3]));
    defparam debouncecounter_260__i4.REGSET = "RESET";
    defparam debouncecounter_260__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i3 (.D(n105[2]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(n23));
    defparam debouncecounter_260__i3.REGSET = "RESET";
    defparam debouncecounter_260__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(31[4],31[22])" *) FD1P3XZ debouncecounter_260__i2 (.D(n105[1]), 
            .SP(VCC_net), .CK(clk), .SR(n842), .Q(n24));
    defparam debouncecounter_260__i2.REGSET = "RESET";
    defparam debouncecounter_260__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=53, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@0(23[12],25[27])" *) FD1P3XZ state__i2 (.D(nextstate[1]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(\state[1] ));
    defparam state__i2.REGSET = "RESET";
    defparam state__i2.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[19]), .D0(n1994), .CI0(n1994), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[20]), .D1(n3500), 
            .CI1(n3500), .CO0(n3500), .CO1(n1996), .S0(n105[19]), .S1(n105[20]));
    defparam debouncecounter_260_add_4_21.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[11]), .D0(n1986), .CI0(n1986), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[12]), .D1(n3488), 
            .CI1(n3488), .CO0(n3488), .CO1(n1988), .S0(n105[11]), .S1(n105[12]));
    defparam debouncecounter_260_add_4_13.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n25), .D1(n3470), .CI1(n3470), .CO0(n3470), .CO1(n1976), 
            .S1(n105[0]));
    defparam debouncecounter_260_add_4_1.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[17]), .D0(n1992), .CI0(n1992), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[18]), .D1(n3497), 
            .CI1(n3497), .CO0(n3497), .CO1(n1994), .S0(n105[17]), .S1(n105[18]));
    defparam debouncecounter_260_add_4_19.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(31[4],31[22])" *) FA2 debouncecounter_260_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(debouncecounter[15]), .D0(n1990), .CI0(n1990), 
            .A1(GND_net), .B1(GND_net), .C1(debouncecounter[16]), .D1(n3494), 
            .CI1(n3494), .CO0(n3494), .CO1(n1992), .S0(n105[15]), .S1(n105[16]));
    defparam debouncecounter_260_add_4_17.INIT0 = "0xc33c";
    defparam debouncecounter_260_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(A (B ((D)+!C)+!B (C (D)))+!A (B ((D)+!C)))", lineinfo="@0(40[3],58[9])" *) LUT4 nextstate_1__I_0_4_lut (.A(n2), 
            .B(\state[1] ), .C(\state[0] ), .D(rowpressed), .Z(nextstate[1]));
    defparam nextstate_1__I_0_4_lut.INIT = "0xec0c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=53, LSE_LLINE=55, LSE_RLINE=55, lineinfo="@0(23[12],25[27])" *) FD1P3XZ state__i1 (.D(nextstate[0]), 
            .SP(VCC_net), .CK(clk), .SR(enable_c_1_N_83), .Q(\state[0] ));
    defparam state__i1.REGSET = "RESET";
    defparam state__i1.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module slowclock
//

module slowclock (output clk, input hsosc_clk);
    
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    (* is_clock=1, lineinfo="@8(29[10],29[19])" *) wire hsosc_clk;
    
    wire n2018, n3467, GND_net;
    wire [17:0]n77;
    
    wire n2006, n3449, n13, n12, n2008, n2004, n3446, n15, n14, 
        n2016, n3464, n3, n2, n2002, n3443, n17, n16, n3440, 
        VCC_net, n18, n2014, n3461, n5, n4, n2012, n3458, n7, 
        n6, n8, n9, n10, n11, n2010, n3455, n3452;
    
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(clk), .D0(n2018), .CI0(n2018), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n3467), .CI1(n3467), .CO0(n3467), 
            .S0(n77[17]));
    defparam counter_258_280_add_4_19.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n13), .D0(n2006), .CI0(n2006), .A1(GND_net), 
            .B1(GND_net), .C1(n12), .D1(n3449), .CI1(n3449), .CO0(n3449), 
            .CO1(n2008), .S0(n77[5]), .S1(n77[6]));
    defparam counter_258_280_add_4_7.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n15), .D0(n2004), .CI0(n2004), .A1(GND_net), 
            .B1(GND_net), .C1(n14), .D1(n3446), .CI1(n3446), .CO0(n3446), 
            .CO1(n2006), .S0(n77[3]), .S1(n77[4]));
    defparam counter_258_280_add_4_5.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i17 (.D(n77[16]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n2));
    defparam counter_258_280__i17.REGSET = "RESET";
    defparam counter_258_280__i17.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(n3), .D0(n2016), .CI0(n2016), .A1(GND_net), 
            .B1(GND_net), .C1(n2), .D1(n3464), .CI1(n3464), .CO0(n3464), 
            .CO1(n2018), .S0(n77[15]), .S1(n77[16]));
    defparam counter_258_280_add_4_17.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n17), .D0(n2002), .CI0(n2002), .A1(GND_net), 
            .B1(GND_net), .C1(n16), .D1(n3443), .CI1(n3443), .CO0(n3443), 
            .CO1(n2004), .S0(n77[1]), .S1(n77[2]));
    defparam counter_258_280_add_4_3.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n18), .D1(n3440), .CI1(n3440), .CO0(n3440), .CO1(n2002), 
            .S1(n77[0]));
    defparam counter_258_280_add_4_1.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(n5), .D0(n2014), .CI0(n2014), .A1(GND_net), 
            .B1(GND_net), .C1(n4), .D1(n3461), .CI1(n3461), .CO0(n3461), 
            .CO1(n2016), .S0(n77[13]), .S1(n77[14]));
    defparam counter_258_280_add_4_15.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i16 (.D(n77[15]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n3));
    defparam counter_258_280__i16.REGSET = "RESET";
    defparam counter_258_280__i16.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n7), .D0(n2012), .CI0(n2012), .A1(GND_net), 
            .B1(GND_net), .C1(n6), .D1(n3458), .CI1(n3458), .CO0(n3458), 
            .CO1(n2014), .S0(n77[11]), .S1(n77[12]));
    defparam counter_258_280_add_4_13.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i15 (.D(n77[14]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n4));
    defparam counter_258_280__i15.REGSET = "RESET";
    defparam counter_258_280__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i14 (.D(n77[13]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n5));
    defparam counter_258_280__i14.REGSET = "RESET";
    defparam counter_258_280__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i13 (.D(n77[12]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n6));
    defparam counter_258_280__i13.REGSET = "RESET";
    defparam counter_258_280__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i12 (.D(n77[11]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n7));
    defparam counter_258_280__i12.REGSET = "RESET";
    defparam counter_258_280__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i11 (.D(n77[10]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n8));
    defparam counter_258_280__i11.REGSET = "RESET";
    defparam counter_258_280__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i10 (.D(n77[9]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n9));
    defparam counter_258_280__i10.REGSET = "RESET";
    defparam counter_258_280__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i9 (.D(n77[8]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n10));
    defparam counter_258_280__i9.REGSET = "RESET";
    defparam counter_258_280__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i8 (.D(n77[7]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n11));
    defparam counter_258_280__i8.REGSET = "RESET";
    defparam counter_258_280__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i7 (.D(n77[6]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n12));
    defparam counter_258_280__i7.REGSET = "RESET";
    defparam counter_258_280__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i6 (.D(n77[5]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n13));
    defparam counter_258_280__i6.REGSET = "RESET";
    defparam counter_258_280__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i5 (.D(n77[4]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n14));
    defparam counter_258_280__i5.REGSET = "RESET";
    defparam counter_258_280__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i4 (.D(n77[3]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n15));
    defparam counter_258_280__i4.REGSET = "RESET";
    defparam counter_258_280__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i3 (.D(n77[2]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n16));
    defparam counter_258_280__i3.REGSET = "RESET";
    defparam counter_258_280__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i2 (.D(n77[1]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n17));
    defparam counter_258_280__i2.REGSET = "RESET";
    defparam counter_258_280__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i1 (.D(n77[0]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(n18));
    defparam counter_258_280__i1.REGSET = "RESET";
    defparam counter_258_280__i1.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n9), .D0(n2010), .CI0(n2010), .A1(GND_net), 
            .B1(GND_net), .C1(n8), .D1(n3455), .CI1(n3455), .CO0(n3455), 
            .CO1(n2012), .S0(n77[9]), .S1(n77[10]));
    defparam counter_258_280_add_4_11.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@6(21[14],21[25])" *) FA2 counter_258_280_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n11), .D0(n2008), .CI0(n2008), .A1(GND_net), 
            .B1(GND_net), .C1(n10), .D1(n3452), .CI1(n3452), .CO0(n3452), 
            .CO1(n2010), .S0(n77[7]), .S1(n77[8]));
    defparam counter_258_280_add_4_9.INIT0 = "0xc33c";
    defparam counter_258_280_add_4_9.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@6(21[14],21[25])" *) FD1P3XZ counter_258_280__i18 (.D(n77[17]), 
            .SP(VCC_net), .CK(hsosc_clk), .SR(GND_net), .Q(clk));
    defparam counter_258_280__i18.REGSET = "RESET";
    defparam counter_258_280__i18.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module decoder
//

module decoder (input col_c_6, input col_c_7, input col_c_4, input col_c_5, 
            input \currentpress[2] , input \currentpress[3] , input \currentpress[0] , 
            input \currentpress[1] , output [3:0]newpress, input n849, 
            output [3:0]oldpress, input clk, input enable_c_1_N_83);
    
    wire [3:0]keydigit;
    (* is_clock=1, lineinfo="@8(43[33],43[36])" *) wire clk;
    
    wire n15, n15_adj_95, n2731, n11, n11_adj_96, n14, n14_adj_97, 
        n2721, n15_adj_98, n1408, n14_adj_99, n2697, n2749, n15_adj_100, 
        n15_adj_101, n11_adj_102, n14_adj_103, n2689, n15_adj_104, 
        n2715, n37, n31, n2986, n2745, n2747, n15_adj_105, n11_adj_106, 
        n2691;
    
    (* lut_function="(A (B))" *) LUT4 i2310_2_lut (.A(n15), .B(n15_adj_95), 
            .Z(n2731));
    defparam i2310_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(D))+!A (B (C)+!B (C (D))))" *) LUT4 i2300_4_lut (.A(n11), 
            .B(n11_adj_96), .C(n14), .D(n14_adj_97), .Z(n2721));
    defparam i2300_4_lut.INIT = "0xfac8";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i2619_4_lut (.A(n15_adj_98), 
            .B(n2721), .C(n1408), .D(n2731), .Z(keydigit[1]));
    defparam i2619_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B (C)))" *) LUT4 i2276_3_lut (.A(n11), .B(n14), 
            .C(n14_adj_99), .Z(n2697));
    defparam i2276_3_lut.INIT = "0xeaea";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i2613_4_lut (.A(n2697), .B(n2749), 
            .C(n15_adj_100), .D(n15_adj_101), .Z(keydigit[2]));
    defparam i2613_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@1(24[5],24[17])" *) LUT4 i2_3_lut_4_lut (.A(col_c_6), 
            .B(col_c_7), .C(col_c_4), .D(col_c_5), .Z(n14_adj_99));
    defparam i2_3_lut_4_lut.INIT = "0xffef";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@1(24[5],24[17])" *) LUT4 i2_3_lut_4_lut_adj_1 (.A(col_c_6), 
            .B(col_c_7), .C(col_c_4), .D(col_c_5), .Z(n14_adj_97));
    defparam i2_3_lut_4_lut_adj_1.INIT = "0xfeff";
    (* lut_function="(A (B (D))+!A (B (C (D))))" *) LUT4 i2328_4_lut (.A(n11_adj_102), 
            .B(n15_adj_95), .C(n14_adj_103), .D(n2689), .Z(n2749));
    defparam i2328_4_lut.INIT = "0xc800";
    (* lut_function="(A+(B))", lineinfo="@1(38[5],38[17])" *) LUT4 equal_15_i15_2_lut (.A(n11_adj_96), 
            .B(n14_adj_103), .Z(n15_adj_98));
    defparam equal_15_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@1(23[5],23[17])" *) LUT4 i2_3_lut_4_lut_adj_2 (.A(\currentpress[2] ), 
            .B(\currentpress[3] ), .C(\currentpress[0] ), .D(\currentpress[1] ), 
            .Z(n11));
    defparam i2_3_lut_4_lut_adj_2.INIT = "0xfeff";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i2616_4_lut (.A(n15_adj_104), 
            .B(n15_adj_98), .C(n2749), .D(n2715), .Z(keydigit[3]));
    defparam i2616_4_lut.INIT = "0x7fff";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@1(23[5],23[17])" *) LUT4 i2_3_lut_4_lut_adj_3 (.A(\currentpress[2] ), 
            .B(\currentpress[3] ), .C(\currentpress[0] ), .D(\currentpress[1] ), 
            .Z(n11_adj_96));
    defparam i2_3_lut_4_lut_adj_3.INIT = "0xffef";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ newpress__i0 (.D(keydigit[0]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(newpress[0]));
    defparam newpress__i0.REGSET = "RESET";
    defparam newpress__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i2_3_lut_4_lut_adj_4 (.A(col_c_5), 
            .B(col_c_4), .C(col_c_7), .D(col_c_6), .Z(n14_adj_103));
    defparam i2_3_lut_4_lut_adj_4.INIT = "0xffef";
    (* lut_function="(A+(B+!(C+(D))))" *) LUT4 i2_3_lut_4_lut_adj_5 (.A(col_c_5), 
            .B(col_c_4), .C(n37), .D(\currentpress[2] ), .Z(n31));
    defparam i2_3_lut_4_lut_adj_5.INIT = "0xeeef";
    (* lut_function="(!(A (C)+!A (B (C)+!B (C (D)+!C !(D)))))" *) LUT4 i2534_3_lut_4_lut (.A(col_c_5), 
            .B(col_c_4), .C(col_c_7), .D(col_c_6), .Z(n2986));
    defparam i2534_3_lut_4_lut.INIT = "0x0f1e";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i2_3_lut_4_lut_adj_6 (.A(col_c_5), 
            .B(col_c_4), .C(col_c_7), .D(col_c_6), .Z(n14));
    defparam i2_3_lut_4_lut_adj_6.INIT = "0xfeff";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ newpress__i3 (.D(keydigit[3]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(newpress[3]));
    defparam newpress__i3.REGSET = "RESET";
    defparam newpress__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ newpress__i2 (.D(keydigit[2]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(newpress[2]));
    defparam newpress__i2.REGSET = "RESET";
    defparam newpress__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ newpress__i1 (.D(keydigit[1]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(newpress[1]));
    defparam newpress__i1.REGSET = "RESET";
    defparam newpress__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ oldpress__i3 (.D(newpress[3]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(oldpress[3]));
    defparam oldpress__i3.REGSET = "RESET";
    defparam oldpress__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ oldpress__i2 (.D(newpress[2]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(oldpress[2]));
    defparam oldpress__i2.REGSET = "RESET";
    defparam oldpress__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ oldpress__i1 (.D(newpress[1]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(oldpress[1]));
    defparam oldpress__i1.REGSET = "RESET";
    defparam oldpress__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+(D))+!B (C))+!A (B (D)))" *) LUT4 i2324_4_lut (.A(col_c_6), 
            .B(\currentpress[1] ), .C(n31), .D(\currentpress[0] ), .Z(n2745));
    defparam i2324_4_lut.INIT = "0xeca0";
    (* lut_function="(A (B+((D)+!C))+!A (B+!(C)))" *) LUT4 i2326_4_lut (.A(col_c_5), 
            .B(n2745), .C(n2986), .D(col_c_4), .Z(n2747));
    defparam i2326_4_lut.INIT = "0xefcf";
    (* lut_function="(!(A (B+(C+(D)))+!A (B+(C (D)+!C !(D)))))" *) LUT4 i5_4_lut (.A(\currentpress[2] ), 
            .B(n2747), .C(n37), .D(\currentpress[3] ), .Z(n15));
    defparam i5_4_lut.INIT = "0x0112";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(\currentpress[1] ), .B(\currentpress[0] ), 
            .Z(n37));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@1(25[5],25[17])" *) LUT4 equal_5_i15_2_lut (.A(n11_adj_102), 
            .B(n14_adj_99), .Z(n15_adj_100));
    defparam equal_5_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@1(39[5],39[17])" *) LUT4 equal_16_i15_2_lut (.A(n11), 
            .B(n14_adj_103), .Z(n15_adj_105));
    defparam equal_16_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut (.A(n15_adj_105), .B(n15_adj_100), 
            .C(n11_adj_96), .D(n14), .Z(n1408));
    defparam i2_4_lut.INIT = "0x8880";
    (* lut_function="(A+(B))", lineinfo="@1(35[5],35[17])" *) LUT4 equal_13_i15_2_lut (.A(n11_adj_102), 
            .B(n14), .Z(n15_adj_104));
    defparam equal_13_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C)))" *) LUT4 i2268_3_lut (.A(n15), .B(n11_adj_106), 
            .C(n14_adj_103), .Z(n2689));
    defparam i2268_3_lut.INIT = "0xa8a8";
    (* lut_function="(A+(B))", lineinfo="@1(29[5],29[17])" *) LUT4 equal_8_i15_2_lut (.A(n11), 
            .B(n14_adj_97), .Z(n15_adj_101));
    defparam equal_8_i15_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 i2610_4_lut (.A(n2689), .B(n15_adj_104), 
            .C(n1408), .D(n2691), .Z(keydigit[0]));
    defparam i2610_4_lut.INIT = "0x7fff";
    (* lut_function="(A (C+(D))+!A (B (C+(D))))" *) LUT4 i2270_3_lut_4_lut (.A(n11), 
            .B(n14_adj_97), .C(n11_adj_96), .D(n14_adj_99), .Z(n2691));
    defparam i2270_3_lut_4_lut.INIT = "0xeee0";
    (* lut_function="((B+(C+(D)))+!A)", lineinfo="@1(30[5],30[17])" *) LUT4 i2_3_lut_4_lut_adj_7 (.A(\currentpress[2] ), 
            .B(\currentpress[3] ), .C(\currentpress[1] ), .D(\currentpress[0] ), 
            .Z(n11_adj_102));
    defparam i2_3_lut_4_lut_adj_7.INIT = "0xfffd";
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@1(26[5],26[17])" *) LUT4 i2_3_lut_4_lut_adj_8 (.A(\currentpress[2] ), 
            .B(\currentpress[3] ), .C(\currentpress[1] ), .D(\currentpress[0] ), 
            .Z(n11_adj_106));
    defparam i2_3_lut_4_lut_adj_8.INIT = "0xfffb";
    (* lut_function="(A (B+(C))+!A (B (D)+!B (C (D))))" *) LUT4 i2294_3_lut_4_lut (.A(n11_adj_102), 
            .B(n11), .C(n14_adj_103), .D(n14_adj_97), .Z(n2715));
    defparam i2294_3_lut_4_lut.INIT = "0xfca8";
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@1(26[5],26[17])" *) LUT4 equal_6_i15_2_lut_4_lut (.A(\currentpress[2] ), 
            .B(\currentpress[3] ), .C(n37), .D(n14_adj_99), .Z(n15_adj_95));
    defparam equal_6_i15_2_lut_4_lut.INIT = "0xfffb";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=12, LSE_RCOL=73, LSE_LLINE=58, LSE_RLINE=58, lineinfo="@1(49[12],63[5])" *) FD1P3XZ oldpress__i0 (.D(newpress[0]), 
            .SP(n849), .CK(clk), .SR(enable_c_1_N_83), .Q(oldpress[0]));
    defparam oldpress__i0.REGSET = "RESET";
    defparam oldpress__i0.SRMODE = "CE_OVER_LSR";
    
endmodule
